*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: var(--background);
}

.underline{
  text-decoration: underline;
}

.highlight{
  height: 0.25rem;
  width: 7rem;
  background-color: var(--green);
  margin-bottom: 1.25rem;
}